<div class="row">

    <div class="col-lg-3">

        <div *ngIf="dataCategory" class="border-0 rounded-card mb-5 shadow overflow-hidden">
            <h3 class="text-white card-header bg-baby">หมวดหมู่สินค้า</h3>
            <div class="card-body bg-white d-flex flex-column">
                <a *ngFor="let dataCategorys of dataCategory.data.product_category"
                    [class.active]="isLinkActive('/product.html?category='+dataCategorys.id_cat)"
                    [routerLink]="['/product.html']"
                    [queryParams]="{category: dataCategorys.id_cat,categoryName: dataCategorys.name_cat}"
                    class="card-text unactive text-decoration-none mb-3 d-flex align-items-center"><span
                        class="bg-secondary rounded-circle dot mr-2"></span> {{dataCategorys.name_cat}}</a>
            </div>
        </div>

        <div class="border-0 rounded-card mb-5 shadow overflow-hidden">
            <h3 class="text-white card-header bg-baby">ติดต่อเรา</h3>
            <div class="card-body bg-white d-flex flex-column">
                <a href="https://www.facebook.com/groups/932200463859678" target="_blank"
                    class="card-text unactive text-decoration-none mb-3 d-flex align-items-center"><span
                        class="bg-secondary rounded-circle dot mr-2"></span> กลุ่มพรีสินค้า</a>
                <a href="http://m.me/babylinuxshop" target="_blank"
                    class="card-text unactive text-decoration-none mb-3 d-flex align-items-center"><span
                        class="bg-secondary rounded-circle dot mr-2"></span> Facebook Page</a>

            </div>
        </div>

    </div>

    <div class="col-lg-9">

        <div *ngIf="bannerAll" id="bannerShowProduct" class="carousel slide mb-5" data-ride="carousel">
            <ol class="carousel-indicators">
                <li *ngFor="let bannerAlls of bannerAll.data.banner,index as i" data-target="#bannerShowProduct"
                    (click)="changeCarousel(i)" class="{{i == 0 ? 'active':''}}"></li>
            </ol>
            <div class="carousel-inner rounded-card shadow overflow-hidden" role="listbox">
                <div *ngFor="let bannerAlls of bannerAll.data.banner,index as i"
                    class="carousel-item {{i == 0 ? 'active':''}}">
                    <a *ngIf="bannerAlls.linkto != '#';else bannerLinkToelse" href="{{bannerAlls.linkto}}">
                        <img class="d-block img-fluid" src="{{bannerAlls.image}}" alt="First slide" />
                    </a>
                    <ng-template #bannerLinkToelse>
                        <img class="d-block img-fluid" src="{{bannerAlls.image}}" alt="First slide" />
                    </ng-template>
                </div>
            </div>
            <a class="carousel-control-prev" href="#bannerShowProduct" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#bannerShowProduct" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div *ngIf="dataProduct && dataProduct.data.product.length > 0;else productNoData" class="row">
            <div class="col-12">
                <h1>{{filterIN}} {{categoryName}}</h1>
            </div>
            <div *ngFor="let dataProducts of dataProduct.data.product" class="col-lg-4 col-md-4 col-6 mb-4">
                <div class="rounded-card overflow-hidden shadow">
                    <a [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                        [queryParams]="{id: dataProducts.id}"><img class="card-img-top" src="{{dataProducts.image}}"
                            alt="{{dataProducts.name}}" title="{{dataProducts.name}}"></a>
                </div>
                <div class="card-body rounded-card my-2 bg-baby text-center shadow">
                    <p class="card-title">
                        <a [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                            [queryParams]="{id: dataProducts.id}" class="text-white text-decoration-none ellipsis"
                            title="{{dataProducts.name}}">{{dataProducts.name}}</a>
                    </p>
                    <h5 class="text-white">{{dataProducts.price| number}} ฿</h5>
                </div>
            </div>


        </div>

    </div>

</div>

<ng-template #productNoData>
    <div class="row">

        <div class="col-12">
            <h1>หมวดหมู่ {{categoryName}}</h1>
            <h3 class="text-center">ไม่มีสินค้า</h3>
        </div>

    </div>
</ng-template>