<div *ngIf="howtouse" class="bg-white rounded-card shadow overflow-hidden p-3">
    <h2>เงื่อนไขการพรีสินค้า</h2>
    <div class="mb-3 px-4" [innerHTML]="howtouse.data.how_to_use.how_to_pre"></div>

    <h2>สิ่งที่ต้องทราบก่อนพรีสินค้า</h2>
    <div class="mb-3 px-4"  [innerHTML]="howtouse.data.how_to_use.how_to_preshop"></div>
</div>