<div *ngIf="dataProductDetail" class="bg-white rounded-card shadow overflow-hidden p-3">

    <div class="col-12">
        <h1 class="text-logo">{{dataProductDetail.data.product.name}}</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-6">
            <div id="productShowDetail" class="carousel slide mb-5" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li *ngFor="let dataProductDetails of dataProductDetail.data.product.image_more,index as i"
                        data-target="#productShowDetail" (click)="changeCarousel(i)" class="{{i == 0 ? 'active':''}}">
                    </li>
                </ol>
                <div class="carousel-inner rounded-card shadow overflow-hidden" role="listbox">
                    <div *ngFor="let dataProductDetails of dataProductDetail.data.product.image_more,index as i"
                        class="carousel-item {{i == 0 ? 'active':''}}">
                        <img class="d-block img-fluid" src="{{dataProductDetails}}"
                            alt="{{dataProductDetail.data.product.name}}"
                            title="{{dataProductDetail.data.product.name}}" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#productShowDetail" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#productShowDetail" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-12">
        <h4 class="text-logo">{{dataProductDetail.data.product.name}}</h4>
        <div [innerHTML]="dataProductDetail.data.product.description"></div>

        <h1 *ngIf="dataProductDetail.data.product.facebookurl != '' || dataProductDetail.data.product.shopeeurl != '' || dataProductDetail.data.product.lazadaurl != ''"
            class="mt-5 text-logo">ช่องทางสั่งชื้อ</h1>

        <div class="row my-5">
            <div *ngIf="dataProductDetail.data.product.facebookurl != ''" class="col-4"><a
                    href="{{dataProductDetail.data.product.facebookurl}}" target="_blank"
                    class="btn btn-block btn-facebook">Facebook</a></div>
            <div *ngIf="dataProductDetail.data.product.shopeeurl != ''" class="col-4"><a
                    href="{{dataProductDetail.data.product.shopeeurl}}" target="_blank"
                    class="btn btn-block btn-pinterest">Shopee</a></div>
            <div *ngIf="dataProductDetail.data.product.lazadaurl != ''" class="col-4"><a
                    href="{{dataProductDetail.data.product.lazadaurl}}" target="_blank"
                    class="btn btn-block btn-soundcloud">Lazada</a></div>
        </div>

        <div *ngFor="let dataProductDetails of dataProductDetail.data.product.image_more" class="text-center">
            <img class="img-fluid" src="{{dataProductDetails}}" alt="{{dataProductDetail.data.product.name}}"
                title="{{dataProductDetail.data.product.name}}" />
        </div>

    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
      <h3 class="mb-4 text-logo">รายการที่คุณแม่อาจชอบ ลูกอาจดีใจ</h3>
  
      <div id="productslide" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators productslide-indicators">
          <li *ngIf="dataProduct" data-target="#productslide" data-slide-to="0" class="active"></li>
          <li *ngIf="dataProduct2 && dataProduct2.data.product.length > 0" data-target="#productslide" data-slide-to="1"
            class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div *ngIf="dataProduct" class="carousel-item active">
            <div class="row">
              <div *ngFor="let dataProducts of dataProduct.data.product" class="col-lg-3 col-md-6 mb-4">
                <div class="rounded-card overflow-hidden shadow">
                  <a 
                  [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                      [queryParams]="{id: dataProducts.id}"
                      ><img class="card-img-top" src="{{
                        dataProducts.image
                      }}" alt="{{ dataProducts.name }}" title="{{dataProducts.name}}" /></a>
                </div>
                <div class="card-body rounded-card my-2 bg-baby text-center shadow">
                  <p class="card-title">
                    <a  [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                    [queryParams]="{id: dataProducts.id}" class="text-white text-decoration-none ellipsis"
                      title="{{dataProducts.name}}">{{dataProducts.name}}</a>
                  </p>
                  <h5 class="text-white">{{dataProducts.price}} ฿</h5>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="dataProduct2 && dataProduct2.data.product.length > 0" class="carousel-item">
            <div class="row">
              <div *ngFor="let dataProducts of dataProduct2.data.product" class="col-lg-3 col-md-6 mb-4">
                <div class="rounded-card overflow-hidden shadow">
                  <a 
                   [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                      [queryParams]="{id: dataProducts.id}"
                  ><img class="card-img-top" src="{{
                        dataProducts.image
                      }}" alt="{{ dataProducts.name }}" title="{{dataProducts.name}}" /></a>
                </div>
                <div class="card-body rounded-card my-2 bg-baby text-center shadow">
                  <p class="card-title">
                    <a   [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                    [queryParams]="{id: dataProducts.id}" class="text-white text-decoration-none ellipsis"
                      title="{{dataProducts.name}}">{{dataProducts.name}}</a>
                  </p>
                  <h5 class="text-white">{{dataProducts.price}} ฿</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>