<div *ngIf="howtouse" class="bg-white rounded-card shadow overflow-hidden p-3">
    <h2>วิธีสั่งชื้อสินค้าจากเรา</h2>
    <div class="mb-3 px-4" [innerHTML]="howtouse.data.how_to_use.how_to_shop"></div>

    <h2>เงื่อนไขการพรีสินค้า</h2>
    <div class="mb-3 px-4" [innerHTML]="howtouse.data.how_to_use.how_to_pre"></div>

    <h2>วิธีคืนสินค้า</h2>
    <div class="mb-3 px-4" [innerHTML]="howtouse.data.how_to_use.how_to_refund"></div>
</div>