.logo {
    height: 64px;
}

.logo-footer {
    height: 90px;
}

.linux-logo {
    height: 180px;
}

.text-logo-h1 {
    margin-top: -45px;
    height    : 60px;
}

.text-logo-h3 {
    margin-top: -34px;
}

.is-search {
    border-color       : #56CC9D;
    padding-right      : calc(1.5em + 0.75rem);
    background-image   : url('../assets/search.svg');
    background-repeat  : no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size    : calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.bg-baby-linux-shop {
    background-image : url('../assets/h4-background.jpg');
    background-repeat: repeat-y;
}

.multicolortext {
    background-image         : linear-gradient(to right, #ff6f96, #56CC9D, #6CC3D5, #FFCE67, #ff6f96);
    -webkit-background-clip  : text;
    -moz-background-clip     : text;
    background-clip          : text;
    color                    : transparent;
    animation                : multicolor linear 35s;
    animation-iteration-count: infinite;
}

.bg-multicolor {
    background-image         : linear-gradient(to right, #ff6f96, #56CC9D, #6CC3D5, #FFCE67, #ff6f96);
    animation-iteration-count: infinite;
    animation                : multicolor linear 5s;
    animation-iteration-count: infinite;
}

@keyframes multicolor {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1920px 0;
    }
}

.cloud-amin-1 {
    width                            : 120%;
    margin-top                       : -9%;
    margin-left                      : -11%;
    animation                        : cloud1 linear 5s;
    animation-iteration-count        : infinite;
    transform-origin                 : 50% 50%;
    -webkit-animation                : cloud1 linear 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin         : 50% 50%;
    -moz-animation                   : cloud1 linear 5s;
    -moz-animation-iteration-count   : infinite;
    -moz-transform-origin            : 50% 50%;
    -o-animation                     : cloud1 linear 5s;
    -o-animation-iteration-count     : infinite;
    -o-transform-origin              : 50% 50%;
    -ms-animation                    : cloud1 linear 5s;
    -ms-animation-iteration-count    : infinite;
    -ms-transform-origin             : 50% 50%;
}

@keyframes cloud1 {
    0% {
        transform: translate(0px, 0px);
    }

    10% {
        transform: translate(8px, -9px);
    }

    21% {
        transform: translate(21px, -4px);
    }

    33% {
        transform: translate(14px, -9px);
    }

    44% {
        transform: translate(4px, -4px);
    }

    55% {
        transform: translate(10px, -3px);
    }

    67% {
        transform: translate(14px, -8px);
    }

    76% {
        transform: translate(6px, -3px);
    }

    87% {
        transform: translate(12px, -2px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes cloud1 {
    0% {
        -moz-transform: translate(0px, 0px);
    }

    10% {
        -moz-transform: translate(8px, -9px);
    }

    21% {
        -moz-transform: translate(21px, -4px);
    }

    33% {
        -moz-transform: translate(14px, -9px);
    }

    44% {
        -moz-transform: translate(4px, -4px);
    }

    55% {
        -moz-transform: translate(10px, -3px);
    }

    67% {
        -moz-transform: translate(14px, -8px);
    }

    76% {
        -moz-transform: translate(6px, -3px);
    }

    87% {
        -moz-transform: translate(12px, -2px);
    }

    100% {
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes cloud1 {
    0% {
        -webkit-transform: translate(0px, 0px);
    }

    10% {
        -webkit-transform: translate(8px, -9px);
    }

    21% {
        -webkit-transform: translate(21px, -4px);
    }

    33% {
        -webkit-transform: translate(14px, -9px);
    }

    44% {
        -webkit-transform: translate(4px, -4px);
    }

    55% {
        -webkit-transform: translate(10px, -3px);
    }

    67% {
        -webkit-transform: translate(14px, -8px);
    }

    76% {
        -webkit-transform: translate(6px, -3px);
    }

    87% {
        -webkit-transform: translate(12px, -2px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes cloud1 {
    0% {
        -o-transform: translate(0px, 0px);
    }

    10% {
        -o-transform: translate(8px, -9px);
    }

    21% {
        -o-transform: translate(21px, -4px);
    }

    33% {
        -o-transform: translate(14px, -9px);
    }

    44% {
        -o-transform: translate(4px, -4px);
    }

    55% {
        -o-transform: translate(10px, -3px);
    }

    67% {
        -o-transform: translate(14px, -8px);
    }

    76% {
        -o-transform: translate(6px, -3px);
    }

    87% {
        -o-transform: translate(12px, -2px);
    }

    100% {
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes cloud1 {
    0% {
        -ms-transform: translate(0px, 0px);
    }

    10% {
        -ms-transform: translate(8px, -9px);
    }

    21% {
        -ms-transform: translate(21px, -4px);
    }

    33% {
        -ms-transform: translate(14px, -9px);
    }

    44% {
        -ms-transform: translate(4px, -4px);
    }

    55% {
        -ms-transform: translate(10px, -3px);
    }

    67% {
        -ms-transform: translate(14px, -8px);
    }

    76% {
        -ms-transform: translate(6px, -3px);
    }

    87% {
        -ms-transform: translate(12px, -2px);
    }

    100% {
        -ms-transform: translate(0px, 0px);
    }
}

.cloud-amin-2 {
    width                            : 125%;
    margin-left                      : -11%;
    margin-top                       : 2%;
    animation                        : cloud2 linear 5s;
    animation-iteration-count        : infinite;
    transform-origin                 : 50% 50%;
    -webkit-animation                : cloud2 linear 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin         : 50% 50%;
    -moz-animation                   : cloud2 linear 5s;
    -moz-animation-iteration-count   : infinite;
    -moz-transform-origin            : 50% 50%;
    -o-animation                     : cloud2 linear 5s;
    -o-animation-iteration-count     : infinite;
    -o-transform-origin              : 50% 50%;
    -ms-animation                    : cloud2 linear 5s;
    -ms-animation-iteration-count    : infinite;
    -ms-transform-origin             : 50% 50%;
}

@keyframes cloud2 {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(1px, -4px);
    }

    20% {
        transform: translate(9px, 4px);
    }

    33% {
        transform: translate(18px, -3px);
    }

    43% {
        transform: translate(12px, -4px);
    }

    56% {
        transform: translate(7px, 0px);
    }

    64% {
        transform: translate(13px, -2px);
    }

    77% {
        transform: translate(10px, -8px);
    }

    87% {
        transform: translate(17px, -11px);
    }

    94% {
        transform: translate(9px, -7px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes cloud2 {
    0% {
        -moz-transform: translate(0, 0);
    }

    10% {
        -moz-transform: translate(1px, -4px);
    }

    20% {
        -moz-transform: translate(9px, 4px);
    }

    33% {
        -moz-transform: translate(18px, -3px);
    }

    43% {
        -moz-transform: translate(12px, -4px);
    }

    56% {
        -moz-transform: translate(7px, 0px);
    }

    64% {
        -moz-transform: translate(13px, -2px);
    }

    77% {
        -moz-transform: translate(10px, -8px);
    }

    87% {
        -moz-transform: translate(17px, -11px);
    }

    94% {
        -moz-transform: translate(9px, -7px);
    }

    100% {
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes cloud2 {
    0% {
        -webkit-transform: translate(0, 0);
    }

    10% {
        -webkit-transform: translate(1px, -4px);
    }

    20% {
        -webkit-transform: translate(9px, 4px);
    }

    33% {
        -webkit-transform: translate(18px, -3px);
    }

    43% {
        -webkit-transform: translate(12px, -4px);
    }

    56% {
        -webkit-transform: translate(7px, 0px);
    }

    64% {
        -webkit-transform: translate(13px, -2px);
    }

    77% {
        -webkit-transform: translate(10px, -8px);
    }

    87% {
        -webkit-transform: translate(17px, -11px);
    }

    94% {
        -webkit-transform: translate(9px, -7px);
    }

    100% {
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes cloud2 {
    0% {
        -o-transform: translate(0, 0);
    }

    10% {
        -o-transform: translate(1px, -4px);
    }

    20% {
        -o-transform: translate(9px, 4px);
    }

    33% {
        -o-transform: translate(18px, -3px);
    }

    43% {
        -o-transform: translate(12px, -4px);
    }

    56% {
        -o-transform: translate(7px, 0px);
    }

    64% {
        -o-transform: translate(13px, -2px);
    }

    77% {
        -o-transform: translate(10px, -8px);
    }

    87% {
        -o-transform: translate(17px, -11px);
    }

    94% {
        -o-transform: translate(9px, -7px);
    }

    100% {
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes cloud2 {
    0% {
        -ms-transform: translate(0, 0);
    }

    10% {
        -ms-transform: translate(1px, -4px);
    }

    20% {
        -ms-transform: translate(9px, 4px);
    }

    33% {
        -ms-transform: translate(18px, -3px);
    }

    43% {
        -ms-transform: translate(12px, -4px);
    }

    56% {
        -ms-transform: translate(7px, 0px);
    }

    64% {
        -ms-transform: translate(13px, -2px);
    }

    77% {
        -ms-transform: translate(10px, -8px);
    }

    87% {
        -ms-transform: translate(17px, -11px);
    }

    94% {
        -ms-transform: translate(9px, -7px);
    }

    100% {
        -ms-transform: translate(0px, 0px);
    }
}

.cloud-box {
    width     : 100%;
    height    : 645px;
    margin-top: -645px;
}

.cloud-amin-box {
    width : 100%;
    height: 645px;
}
.rotate-center {
    -webkit-animation: rotate-center 10s linear infinite both;
    animation        : rotate-center 10s linear infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform        : rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform        : rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform        : rotate(360deg);
    }
}

.f2 {
    margin-left: 7%;
    margin-top : 8%;
}

.baby-linux-box {
    padding-top   : 40px;
    padding-bottom: 685px;
}
@media (max-width: 575px){
    .bg-baby-linux-shop {
        background-image: url();
    }
    .baby-linux-box {
        padding-bottom: 40px!important;
    }
}