<header class="bg-white shadow-sm">

    <div class="container">
        <div class="d-flex justify-content-between align-items-center p-2">
            <div class="d-flex justify-content-start align-items-center">

                <a [routerLink]="['/index.html']"
                    title="Baby Linux Shop นำเข้าสินค้า เพื่อลูกน้อย ปลอดภัยต่อเด็กเล็ก คัดคุณภาพ จากคุณแม่ลีนุกซ์">
                    <div class="text-hide mr-4">
                        Baby Linux Shop นำเข้าสินค้า เพื่อลูกน้อย ปลอดภัยต่อเด็กเล็ก คัดคุณภาพ จากคุณแม่ลีนุกซ์
                        <img src="../../../assets/babylinuxxlogo.png" class="logo">
                    </div>
                </a>
                <div class="nav-menu d-none d-sm-block">
                    <a [routerLink]="['/index.html']" routerLinkActive="active"
                        class="text-decoration-none unactive mx-3">หน้าแรก</a>
                    <a [routerLink]="['/product.html']" routerLinkActive="active"
                        class="text-decoration-none unactive mx-3">สินค้า</a>
                    <a [routerLink]="['/howtoshop.html']" routerLinkActive="active"
                        class="text-decoration-none unactive mx-3">วิธีสั่งชื้อ</a>
                    <a [routerLink]="['/preordergroup.html']" routerLinkActive="active"
                        class="text-decoration-none unactive mx-3">เข้ากลุ่มพรีสินค้า</a>
                    <a [routerLink]="['/contact.html']" routerLinkActive="active"
                        class="text-decoration-none unactive mx-3">ติดต่อเรา</a>
                </div>

            </div>

            <div class="search">
                <div class="form-group d-flex justify-content-between has-success mb-0">
                    <input type="text" placeholder="ของเล่นเด็ก" (keyup.enter)="gotoPage()"
                        class="form-control is-search mr-2" (change)="searchText($event)">
                    <button class="btn btn-info" (click)="gotoPage()">ค้นหา</button>
                </div>
            </div>

        </div>
    </div>

</header>
<div class="bg-multicolor p-1"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex d-sm-none">
    <a class="navbar-brand" [routerLink]="['/index.html']">Baby Linux Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/index.html']" routerLinkActive="active"
                    class="text-decoration-none nav-link unactive mx-3">หน้าแรก</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/product.html']" routerLinkActive="active"
                    class="text-decoration-none nav-link unactive mx-3">สินค้า</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/howtoshop.html']" routerLinkActive="active"
                    class="text-decoration-none nav-link unactive mx-3">วิธีสั่งชื้อ</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/preordergroup.html']" routerLinkActive="active"
                    class="text-decoration-none nav-link unactive mx-3">เข้ากลุ่มพรีสินค้า</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="['/contact.html']" routerLinkActive="active"
                    class="text-decoration-none nav-link unactive mx-3">ติดต่อเรา</a>
            </li>
        </ul>
    </div>
</nav>

<div class="bg-baby-linux-shop">
    <div class="container baby-linux-box">

        <router-outlet></router-outlet>

    </div>
</div>
<div class="position-absolute cloud-box d-none d-sm-block">
    <div class="overflow-hidden bg-transparent position-relative cloud-amin-box">
        <img src="../../../assets/cloud1.png" class="cloud-amin-1 position-absolute">
        <img src="../../../assets/cloud2.png" class="cloud-amin-2 position-absolute">
    </div>
</div>
<div class="bg-multicolor p-1"></div>
<footer class="bg-white border-top-4 border-multicolor p-4 position-relative">
    <img class="rotate-center position-absolute d-none d-sm-block" src="../../../assets/f1.png">
    <img class="rotate-center position-absolute f2 d-none d-sm-block" src="../../../assets/f2.png">
    <div class="container">
        <div class="d-flex justify-content-center  align-items-start mb-3">

            <div class="my-4 row justify-content-between align-items-center d-block d-sm-flex container">
                <div class="col-12 col-lg-4 w-37p text-right d-sm-block d-none">
                    <p class="m-0 h4 text-logo text-shadow">คุณแม่ลีนุกซ์คัดคุณภาพกับมือ!</p>
                    <p class="m-0 small">อันไหนดี มีคุณภาพ ปลอดภัยต่อเด็กเล็ก ชื้อได้ที่ Baby Linux Shop</p>
                    <p class="m-0 small">นำเข้าและคัดสรรสินค้าเพื่อลูกน้อยด้วยตัวคุณแม่เอง</p>
                </div>
                <div class="col-12 col-lg-3 text-center">
                    <img src="../../../assets/linuxweb2.png" class="linux-logo shadow-png">
                </div>
                <div class="col-12 col-lg-4 w-37p text-left d-sm-block d-none">
                    <p class="m-0 h4 text-logo text-shadow">ไม่ต้องเสี่ยงดวงเลือกซื้อสุ่มๆในที่อื่น!</p>
                    <p class="m-0 small">อะไรดี คุณแม่ลีนุกซ์ก็ว่าดี การันตีคุณภาพที่เลือกโดย Baby Linux Shop</p>
                    <p class="m-0 small">ของใช้เด็กเล็กที่มีคุณภาพ ไม่จำเป็นต้องมีราคาแพง</p>
                </div>
            </div>

        </div>

        <div class="row justify-content-between align-items-start mb-3 d-block d-sm-flex">

            <div class="my-4 col-12 col-lg-3 d-sm-flex flex-column justify-content-center align-items-end d-none">

                <h3 class="mb-0 multicolortext text-shadow logo-font">เมนูนำทางของเว็บ</h3>
                <h3 class="mb-0 text-logo logo-font text-logo-h3">เมนูนำทางของเว็บ</h3>

                <a [routerLink]="['/index.html']" class="text-decoration-none text-dark mx-3">เกี่ยวกับเรา</a>
                <a [routerLink]="['/product.html']" class="text-decoration-none text-dark mx-3">ระยะเวลาจัดส่ง</a>
                <a [routerLink]="['/howtoshop.html']" class="text-decoration-none text-dark mx-3">สินค้าที่มีในสต๊อก</a>
                <a [routerLink]="['/preordergroup.html']" class="text-decoration-none text-dark mx-3">รอบพรีสินค้า</a>
                <a [routerLink]="['/contact.html']" class="text-decoration-none text-dark mx-3">การขอคืนเงิน</a>
            </div>

            <div
                class="my-4 col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center container-fluid">
                <div class="mb-3 d-flex justify-content-start align-items-start">
                    <div>
                        <h1 class="mb-0 text-logo logo-font">Baby Linux Shop</h1>
                        <h1 class="mb-0 multicolortext text-shadow logo-font text-logo-h1">Baby Linux Shop</h1>
                        <p class="m-0 text-center">Maami In Reallife</p>
                    </div>
                </div>
                <img src="../../../assets/babylinuxxlogo.png" class="logo-footer">
                <p class="m-0 text-dark text-shadow text-center">โทร 062-007-0555 (คุณไอ)</p>
                <p class="m-0 text-dark text-shadow text-center">59/193, ต.คลองสาม, อ.คลองหลวง, จ.ปทุมธานี, 12120</p>
                <a target="blank" href="https://cii3.net" class="m-0 multicolortext small" title="รับทำเว็บไชต์"
                    aria-label="รับทำเว็บไชต์">Developer By cii3.net</a>
            </div>

            <div class="my-4 col-12 col-lg-3 d-sm-flex d-none flex-column justify-content-center align-items-start">

                <h3 class="mb-0 multicolortext logo-font text-shadow">หมวดหมู่แนะนำ</h3>
                <h3 class="mb-0 text-logo logo-font text-logo-h3">หมวดหมู่แนะนำ</h3>

                <a [routerLink]="['/index.html']" class="text-decoration-none text-dark mx-3">ผ้าอ้อมเด็ก</a>
                <a [routerLink]="['/product.html']"
                    class="text-decoration-none text-dark mx-3">ของเล่นเด็กเสริมพัฒนาการ</a>
                <a [routerLink]="['/howtoshop.html']" class="text-decoration-none text-dark mx-3">เสื่อผ้าเด็ก</a>
                <a [routerLink]="['/preordergroup.html']" class="text-decoration-none text-dark mx-3">ชุดนอนเด็ก</a>
                <a [routerLink]="['/contact.html']" class="text-decoration-none text-dark mx-3">ผ้าห่มเด็ก</a>
            </div>

        </div>
    </div>
</footer>