/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow   : inset 0 0 5px #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background   : #56CC9D;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #56CC9D;
}

.dot {
  width  : 10px;
  height : 10px;
  display: block;
}

.unactive {
  font-weight: 600;
  color      : #000000;
}

.unactive:hover,
.active {
  color: #ff6f96;
}

.rounded-card {
  border-radius: 20px;
}

.text-logo {
  color: #8d7484;
}

.shadow-png {
  -webkit-filter: drop-shadow(0 00.5rem 1rem rgba(0, 0, 0, 0.15));
  filter        : drop-shadow(0 00.5rem 1rem rgba(0, 0, 0, 0.15));
}

.text-shadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.logo-font {
  font-family: 'Pacifico';
  font-style : normal;
  font-weight: normal;
}

.w-37p {
  max-width    : 37% !important;
  flex         : 0 0 37% !important;
  padding-right: 0px !important;
  padding-left : 0px !important;
}
@media (max-width: 575px){
  .w-37p{
      max-width: 100%!important;
      flex:0 0 100%!important;
  }
}
.product-flip:hover {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation        : flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.card-img-top {
  background-color: #fff;
}

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform        : rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform        : rotateY(180deg);
  }
}

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform        : rotateY(0);
  }

  100% {
    -webkit-transform: rotateY(180deg);
    transform        : rotateY(180deg);
  }
}

.ellipsis {
  overflow          : hidden;
  text-overflow     : ellipsis;
  display           : -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.bg-baby {
  background-color: #7285b0 !important;
}