  .product-device {
      position           : absolute;
      right              : 10%;
      bottom             : -30%;
      width              : 300px;
      height             : 540px;
      background-color   : #F3969A;
      border-radius      : 21px;
      -webkit-transform  : rotate(30deg);
      transform          : rotate(30deg);
      background-repeat  : no-repeat;
      background-position: center;
      background-size    : cover;
  }

  .product-device::before {
      position         : absolute;
      top              : 10%;
      right            : 10px;
      bottom           : 10%;
      left             : 10px;
      content          : "";
      background-repeat: no-repeat;
      background-size  : cover;
      border-radius    : 5px;
  }

  .product-device-2 {
      top             : -25%;
      right           : auto;
      bottom          : 0;
      left            : 5%;
      background-color: #c6986b;
      position           : absolute;
      width              : 300px;
      height             : 540px;
      border-radius      : 21px;
      -webkit-transform  : rotate(-14deg);
      transform          : rotate(-14deg);
      background-repeat  : no-repeat;
      background-position: center;
      background-size    : cover;
  }

  .btn-outline-light:hover {
      color: #F3969A;
  }

  .productslide-indicators {
      top   : -55px;
      bottom: auto;
      left  : auto;
      margin: 0;
  }

  .productslide-indicators li {
      height          : 10px;
      background-color: #7285b0;
  }


  .product-device-2::before {
      position         : absolute;
      top              : 10%;
      right            : 10px;
      bottom           : 10%;
      left             : 10px;
      content          : "";
      background-repeat: no-repeat;
      background-size  : cover;
      border-radius    : 5px;
  }


  /*
   * Extra utilities
   */

  .flex-equal>* {
      -ms-flex: 1;
      flex    : 1;
  }

  @media (min-width: 768px) {
      .flex-md-equal>* {
          -ms-flex: 1;
          flex    : 1;
      }
  }

  .bd-placeholder-img {
      width : 250px;
      height: 250px;
  }