<div *ngIf="bannerAll" class="row">
  <div class="col-12">
    <div id="bannerShowIndex" class="carousel slide mb-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li *ngFor="let bannerAlls of bannerAll.data.banner,index as i" data-target="#bannerShowIndex" (click)="changeCarousel(i)" class="{{i == 0 ? 'active':''}}"></li>
      </ol>
      <div class="carousel-inner rounded-card shadow overflow-hidden" role="listbox">
        <div *ngFor="let bannerAlls of bannerAll.data.banner,index as i" class="carousel-item {{i == 0 ? 'active':''}}">
          <a *ngIf="bannerAlls.linkto != '#';else bannerLinkToelse" href="{{bannerAlls.linkto}}">
            <img class="d-block img-fluid" src="{{bannerAlls.image}}" alt="First slide" />
          </a>
          <ng-template #bannerLinkToelse>
            <img class="d-block img-fluid" src="{{bannerAlls.image}}" alt="First slide" />
          </ng-template>
        </div>
      </div>
      <a class="carousel-control-prev" href="#bannerShowIndex" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#bannerShowIndex" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3 class="mb-4 text-logo">รายการที่คุณแม่อาจชอบ ลูกอาจดีใจ</h3>

    <div id="productslide" class="carousel slide mb-5" data-ride="carousel">
      <ol class="carousel-indicators productslide-indicators">
        <li *ngIf="dataProduct" data-target="#productslide" data-slide-to="0" class="active"></li>
        <li *ngIf="dataProduct2 && dataProduct2.data.product.length > 0" data-target="#productslide" data-slide-to="1"
          class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div *ngIf="dataProduct" class="carousel-item active">
          <div class="row">
            <div *ngFor="let dataProducts of dataProduct.data.product" class="col-lg-3 col-md-6 col-6 mb-4">
              <div class="rounded-card overflow-hidden shadow">
                <a 
                [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                    [queryParams]="{id: dataProducts.id}"
                    ><img class="card-img-top" src="{{
                      dataProducts.image
                    }}" alt="{{ dataProducts.name }}" title="{{dataProducts.name}}" /></a>
              </div>
              <div class="card-body rounded-card my-2 bg-baby text-center shadow">
                <p class="card-title">
                  <a  [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                  [queryParams]="{id: dataProducts.id}" class="text-white text-decoration-none ellipsis"
                    title="{{dataProducts.name}}">{{dataProducts.name}}</a>
                </p>
                <h5 class="text-white">{{dataProducts.price}} ฿</h5>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="dataProduct2 && dataProduct2.data.product.length > 0" class="carousel-item">
          <div class="row">
            <div *ngFor="let dataProducts of dataProduct2.data.product" class="col-lg-3 col-md-6 col-6 mb-4">
              <div class="rounded-card overflow-hidden shadow">
                <a 
                 [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                    [queryParams]="{id: dataProducts.id}"
                ><img class="card-img-top" src="{{
                      dataProducts.image
                    }}" alt="{{ dataProducts.name }}" title="{{dataProducts.name}}" /></a>
              </div>
              <div class="card-body rounded-card my-2 bg-baby text-center shadow">
                <p class="card-title">
                  <a   [routerLink]="['/detail.html',{name:Slugify(dataProducts.name)}]"
                  [queryParams]="{id: dataProducts.id}" class="text-white text-decoration-none ellipsis"
                    title="{{dataProducts.name}}">{{dataProducts.name}}</a>
                </p>
                <h5 class="text-white">{{dataProducts.price}} ฿</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="indexContent" class="row mb-lg-0 mb-3">
  <div class="col-12">
    <div class="position-relative rounded-card shadow overflow-hidden p-3 p-md-5 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal text-logo">{{indexContent.data.IndexContent.title1}}</h1>
        <p class="lead font-weight-normal">{{indexContent.data.IndexContent.text1}}</p>
        <a class="btn btn-outline-secondary" target="_blank" href="{{indexContent.data.IndexContent.link1}}">{{indexContent.data.IndexContent.namelink1}}</a>
      </div>
      <div class="product-device shadow d-none d-md-block" style="background-image: url({{indexContent.data.IndexContent.image1}});"></div>
      <div class="product-device-2 shadow d-none d-md-block" style="background-image: url({{indexContent.data.IndexContent.image2}});"></div>
    </div>
  </div>
</div>

<div *ngIf="indexContent" class="row">
  <div class="col-12">
    <div class="d-md-flex flex-md-equal w-100 my-md-3">
      <div class="bg-dark rounded-card shadow mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden mb-lg-0 mb-3">
        <div class="my-3 py-3">
          <h2 class="display-5 text-white">{{indexContent.data.IndexContent.title2}}</h2>
          <p class="lead">{{indexContent.data.IndexContent.text2}}</p>
        </div>
        <a class="btn btn-outline-light mb-3" target="_blank" href="{{indexContent.data.IndexContent.link2}}">{{indexContent.data.IndexContent.namelink2}}</a>
        <div class="bg-light shadow mx-auto" style="
            width: 80%;
            height: 300px;
            border-radius: 21px 21px 0 0;
            background-image: url({{indexContent.data.IndexContent.image3}});
            background-repeat: no-repeat;
            background-size: cover;
          "></div>
      </div>
      <div class="bg-light rounded-card shadow pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden mb-lg-0 mb-3">
        <div class="my-3 p-3">
          <h2 class="display-5 text-logo">{{indexContent.data.IndexContent.title3}}</h2>
          <p class="lead">{{indexContent.data.IndexContent.text3}}</p>
        </div>
        <a class="btn btn-outline-secondary mb-3" target="_blank" href="{{indexContent.data.IndexContent.link3}}">{{indexContent.data.IndexContent.namelink3}}</a>
        <div class="bg-dark shadow mx-auto" style="
            width: 80%;
            height: 300px;
            border-radius: 21px 21px 0 0;
            background-image: url({{indexContent.data.IndexContent.image4}});
            background-repeat: no-repeat;
            background-size: cover;
          "></div>
      </div>
    </div>
  </div>
</div>

<h3 class="my-4 text-logo">ลูกน้อยอุ่นใจ</h3>

<div *ngIf="ProductRecommend" class="row mb-2">
  <div *ngFor="let itemProductRecommend of ProductRecommend.data.recommend_product" class="col-md-6">
    <div
      class="row rounded-card shadow bg-white no-gutters overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{itemProductRecommend.title_custom}}</h3>
        <p class="card-text mb-auto">{{itemProductRecommend.text_custom}}</p>
        <a [routerLink]="['/detail.html',{name:Slugify(itemProductRecommend.title_custom)}]"
        [queryParams]="{id: itemProductRecommend.id_product}" class="stretched-link">ดูรูปภาพเพิ่มเติม</a>
      </div>
      <div class="col-auto d-none d-lg-block">
        <img class="bd-placeholder-img" src="{{itemProductRecommend.image_custom}}" alt="Third slide" />
      </div>
    </div>
  </div>

</div>